
<div [hidden]="submitted" class="bg-secondary text-white col-md-6 align-middle">
    <form #addSalleForm="ngForm" (ngSubmit)="addSalle()">
      <div class="form-group">
        <label for="cout">Coût</label>
        <input type="number" class="form-control"  [(ngModel)]="salle.cout" name="cout" min="0">
      </div>
  
      <div class="form-group">
        <label for="isDispo">Disponible</label>
        <select class="form-control" [(ngModel)]="salle.isDispo"  name="isDispo">
          <option value="true">oui</option>
          <option value="false">non</option>
        </select>
      </div>
   
      <div class="form-group">
        <label for="capacite">Capacité</label>
        <input type="number" class="form-control"  [(ngModel)]="salle.capacite" name="capacite">
      </div>
  
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
        <button type="button" class="btn btn-dark" (click)="addSalle()" [disabled]="!addSalleForm.form.valid">Ajouter</button>
      </div>
  
    </form>
  </div>
  
  <div [hidden]="!submitted" class="bg-secondary text-white col-md-6">
    <p>Ajout réussi ! -></p>
   <div class="btn-group btn-group-sm">
       <button class="btn btn-dark" (click)="goBack()">Back</button>
       <button class="btn btn-dark" (click)="newSalle(); addSalleForm.reset()">Continue</button>
      </div>
  </div>
  
  <br>
  