






 <div class="listmateriel">
    <h2>Liste des ordinateurs: </h2>
    <div *ngFor="let ordinateur of ordinateurs" (click)="onSelectOrdi(ordinateur)" class="materielbox"
        [ngClass]="{'selected':selectedMateriel===materiel}">

        {{ordinateur.code}}, {{ordinateur.cout}}, {{ordinateur.isDispo}}
    </div>
</div>
<div class="listmateriel">
    <h2>Liste des projecteurs: </h2>
    <div *ngFor="let projecteur of projecteurs" (click)="onSelectPro(projos)" class="materielbox"
        [ngClass]="{'selected':selectedMateriel===materiel}">

        {{projecteur.code}}, {{projecteur.cout}}, {{projecteur.isDispo}}
    </div>

</div> 