<button class="btn btn-dark" (click)="goBack()">Back</button>
<div class="gridContainer">
    <div [routerLink]="['/ordinateur/add']">Ajouter un ordinateur</div>
    <div [routerLink]="['/projecteur/add']">Ajouter un projecteur</div>
    <div [routerLink]="['/salle/add']">Ajouter une salle</div>
    <div [routerLink]="['/ordinateur/list']">Afficher les ordinateurs</div>
    <div [routerLink]="['/projecteur/list']">Afficher les projecteurs</div>
    <div [routerLink]="['/salle/list']">Afficher les salles</div>
</div>