<head>Access-Control-Allow-Origin: *</head>

<div class="listmateriel">
    <h2>Liste des salles: </h2>
    <div *ngFor="let materiel of materiels" (click)="onSelect(materiel)" class="materielbox"
        [ngClass]="{'selected':selectedMateriel===materiel}">

        {{salle.code}}, {{salle.cout}}, {{salle.isDispo}}
    </div>
</div>
<div class="listmateriel">
    <h2>Liste des ordinateurs: </h2>
    <div *ngFor="let materiel of materiels" (click)="onSelect(materiel)" class="materielbox"
        [ngClass]="{'selected':selectedMateriel===materiel}">

        {{ordinateur.code}}, {{ordinateur.cout}}, {{ordinateur.isDispo}}
    </div>
</div>
<div class="listmateriel">
    <h2>Liste des projecteurs: </h2>
    <div *ngFor="let materiel of materiels" (click)="onSelect(materiel)" class="materielbox"
        [ngClass]="{'selected':selectedMateriel===materiel}">

        {{projo.code}}, {{projo.cout}}, {{projo.isDispo}}
    </div>

</div>