div.formateurbox, div.listformateur {
  
    border: 1px solid black;
    padding:10px;
    margin-bottom:10px;
}

.formateurbox:hover{
    background: rgba(17, 212, 238, 0.356);
    cursor: pointer
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


h2{color: black;
    font-weight: bold;
    font-size: 150%;   
}
.formateurbox.selected{
    background-color:  rgba(17, 212, 238, 0.356);
}