<h4><span class="badge badge-light ">{{ordinateur.code}}</span> -> {{ ordinateur.cout }} - {{ ordinateur.isDispo }} -
  {{ ordinateur.processeur }} - {{ ordinateur.ram }} - {{ ordinateur.hdd }} - {{ ordinateur.annee }}</h4>
<div [hidden]="submitted">
  <form (ngSubmit)="update()" #detailOrdinateurForm="ngForm">
    <div class="form-group">
      <label for="cout">Coût</label>
      <input type="number" class="form-control" id="cout" [(ngModel)]="ordinateur.cout" name="cout">
    </div>

    <div class="form-group">
      <label for="isDispo">Disponible</label>
      <select class="form-control" [(ngModel)]="ordinateur.isDispo" name="isDispo">
        <option value="true">oui</option>
        <option value="false">non</option>
      </select>
    </div>

    <div class="form-group">
      <label for="processeur">Processeur</label>
      <input type="text" class="form-control" [(ngModel)]="ordinateur.processeur" name="processeur">
    </div>

    <div class="form-group">
      <label for="ram">RAM</label>
      <input type="number" class="form-control" [(ngModel)]="ordinateur.ram" name="ram" min="0">
    </div>

    <div class="form-group">
      <label for="hdd">HDD</label>
      <input type="number" class="form-control" [(ngModel)]="ordinateur.hdd" name="hdd" min="0">
    </div>

    <div class="form-group">
      <label for="annee">Année</label>
      <input type="number" class="form-control" [(ngModel)]="ordinateur.annee" name="annee" min="1950">
    </div>

    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
      <button type="button" class="btn btn-dark" (click)="update()" [disabled]="!detailOrdinateurForm.form.valid">Update</button>
      <button class="btn btn-dark" (click)="delete()">Delete</button>
    </div>

  </form>
</div>

<div [hidden]="!submitted">
  <p>{{message}}</p>
  <div class="btn-group btn-group-sm">
    <button class="btn btn-dark" (click)="goBack()">Back</button>
  </div>
</div>