<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="container">
  <div class="titre">
  <h2>
    Gestionnaire de Formation
  </h2>
</div>
  <div class="gridContainer" *ngIf="!showAll">
    <div [routerLink]="['/matieres']" (click)="onSel2()">Gestion des Matières</div>
    <div [routerLink]="['/formateurs']" (click)="onSel2()">Gestion des Formateurs</div>
    <div [routerLink]="['/plannings']" (click)="onSel2()">Gestion des Plannings</div>
    <div [routerLink]="['/materiel']" (click)="onSel2()">Gestion du Matériel</div>
    <div [routerLink]="['/salles']" (click)="onSel2()">Gestion des Salles</div>
    <div [routerLink]="['/restitution']" (click)="onSel2()">Restitution</div>
  </div>
  <router-outlet></router-outlet>

  <button type="button" class="btn btn-primary" [routerLink]="['/home']" *ngIf="showAll"
    (click)="onSel2()">Retour</button>
</div>

</html>