<p>Ajouter une compétence :</p><select>
    <option value="">--Merci de choisir une option--</option>
    <option value="javaObjet">Java Objet</option>
    <option value="javaAlgo">Java Algo</option>
    <option value="Php">Php</option>
</select> &nbsp;
<select>
    <p>Ajouter le niveau :</p>
    <option value="">--Merci de choisir une option--</option>
    <option value="Debutant">Debutant</option>
    <option value="Intermediaire">Intermediaire</option>
    <option value="Avance">Avance</option>
    <option value="Expert">Expert</option>
</select> <br>
<button (click)="ajoutcomp()">Ajouter</button>