<div class="gridContainer">
  <div [routerLink]="['/matieres']">Gestion des Matières</div>
  <div [routerLink]="['/formateurs']">Gestion des Formateurs</div>
  <div [routerLink]="['/plannings']">Gestion des Plannings</div>
  <div [routerLink]="['/materiel']">Gestion du Matériel</div>
  <div [routerLink]="['/salles']">Gestion des Salles</div>
  <div [routerLink]="['/restitution']">Restitution</div>
  <div [routerLink]="['/ordinateur/add']">addordi</div>
</div>

<a href="accueil" class="btn btn-primary" >Accueil</a>